#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_test:
	cargo test --release --locked

override_dh_auto_install:
	mkdir -p debian/kloc/usr/bin
	cp target/release/kloc debian/kloc/usr/bin/
